<%- include('../template/head') -%>

	<body class="is-boxed has-animations">
		<%- include('../template/nav') -%>
			<div class="body-wrap boxed-container">
				<header class="site-header">

					<div class="container">
						<div class="site-header-inner">
							<div class="brand header-brand">
								<h1 class="m-0">
									<a href="#">
										<svg width="32" height="32" viewBox="0 0 32 32"
											xmlns="http://www.w3.org/2000/svg">
											<title>Laurel</title>
											<defs>
												<linearGradient x1="0%" y1="100%" x2="50%" y2="0%" id="logo-a">
													<stop stop-color="#F9425F" stop-opacity=".8" offset="0%" />
													<stop stop-color="#47A1F9" stop-opacity=".16" offset="100%" />
												</linearGradient>
												<linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="logo-b">
													<stop stop-color="#FDFFDA" offset="0%" />
													<stop stop-color="#F97059" stop-opacity=".798" offset="49.935%" />
													<stop stop-color="#F9425F" stop-opacity="0" offset="100%" />
												</linearGradient>
											</defs>
											<g fill="none" fill-rule="evenodd">
												<path
													d="M22 19.22c6.627 0 9.593-6.415 9.593-13.042C31.593-.45 28.627.007 22 .007S10 2.683 10 9.31c0 6.628 5.373 9.91 12 9.91z"
													fill="url(#logo-a)" />
												<path
													d="M13.666 31.889c7.547 0 10.924-7.307 10.924-14.854 0-7.547-3.377-7.027-10.924-7.027C6.118 10.008 0 13.055 0 20.603c0 7.547 6.118 11.286 13.666 11.286z"
													fill="url(#logo-b)" transform="matrix(-1 0 0 1 24.59 0)" />
											</g>
										</svg>
									</a>
								</h1>
							</div>
						</div>
					</div>
				</header>
				<main>
					
					<section class="hero">
						<div class="container">
							<div class="hero-inner">
								<div class="hero-copy content-center" style="margin: -50px 0px 0px 0px;">
									<h1
										class="text-center text-5l font-extrabold text-white sm:text-5l sm:tracking-tight lg:text-4xl">
										Let's wow your Event$</h1>
									<br>
									<p class="text-center hero-paragraph">We sell tickets and enable you to buy tickets easy and fater</p>
									<div class="self-center hero-cta" style="margin: 0px 0px 0px 0px;"><a class="button button-shadow" href="/event_form">Create an
											Event</a>
											<a class="self-center button button-primary button-shadow" href="#">Buy Ticket</a></div>
								</div>
								<div class="hero-app">
									<div class="hero-app-illustration">
										<svg width="999" height="931" xmlns="http://www.w3.org/2000/svg">
											<defs>
												<linearGradient x1="92.827%" y1="0%" x2="53.422%" y2="80.087%" id="hero-shape-a">
													<stop stop-color="#F9425F" offset="0%"/>
													<stop stop-color="#F97C58" stop-opacity="0" offset="100%"/>
												</linearGradient>
												<linearGradient x1="92.827%" y1="0%" x2="53.406%" y2="80.12%" id="hero-shape-b">
													<stop stop-color="#47A1F9" offset="0%"/>
													<stop stop-color="#F9425F" stop-opacity="0" offset="80.532%"/>
													<stop stop-color="#FDFFDA" stop-opacity="0" offset="100%"/>
												</linearGradient>
												<linearGradient x1="8.685%" y1="23.733%" x2="85.808%" y2="82.837%" id="hero-shape-c">
													<stop stop-color="#FFF" stop-opacity=".48" offset="0%"/>
													<stop stop-color="#FFF" stop-opacity="0" offset="100%"/>
												</linearGradient>
												<linearGradient x1="79.483%" y1="15.903%" x2="38.42%" y2="70.124%" id="hero-shape-d">
													<stop stop-color="#47A1F9" offset="0%"/>
													<stop stop-color="#FDFFDA" stop-opacity="0" offset="100%"/>
												</linearGradient>
												<linearGradient x1="99.037%" y1="26.963%" x2="24.582%" y2="78.557%" id="hero-shape-e">
													<stop stop-color="#FDFFDA" stop-opacity=".64" offset="0%"/>
													<stop stop-color="#F97C58" stop-opacity=".24" offset="42.952%"/>
													<stop stop-color="#F9425F" stop-opacity="0" offset="100%"/>
												</linearGradient>
											</defs>
											<g fill="none" fill-rule="evenodd">
												<g class="hero-shape-top">
													<g class="is-moving-object is-translating" data-translating-factor="280">
														<path d="M680.188 0c-23.36 69.79-58.473 98.3-105.34 85.531-70.301-19.152-189.723-21.734-252.399 91.442-62.676 113.175-144.097 167.832-215.195 118.57C59.855 262.702 24.104 287.85 0 370.988L306.184 566.41c207.164-4.242 305.67-51.612 295.52-142.11-10.152-90.497 34.533-163.55 134.054-219.16l4.512-119.609L680.188 0z" fill="url(#hero-shape-a)" transform="translate(1)"/>
													</g>
													<g class="is-moving-object is-translating" data-translating-factor="100">
														<path d="M817.188 222c-23.36 69.79-58.473 98.3-105.34 85.531-70.301-19.152-189.723-21.734-252.399 91.442-62.676 113.175-144.097 167.832-215.195 118.57-47.399-32.841-83.15-7.693-107.254 75.445L443.184 788.41c207.164-4.242 305.67-51.612 295.52-142.11-10.152-90.497 34.533-163.55 134.054-219.16l4.512-119.609L817.188 222z" fill="url(#hero-shape-b)" transform="rotate(-53 507.635 504.202)"/>
													</g>
												</g>
												<g transform="translate(191 416)">
													<g class="is-moving-object is-translating" data-translating-factor="50">
														<circle fill="url(#hero-shape-c)" cx="336" cy="190" r="190"/>
													</g>
													<g class="is-moving-object is-translating" data-translating-factor="80">
														<path d="M683.766 133.043c-112.048-90.805-184.688-76.302-217.92 43.508-33.23 119.81-125.471 124.8-276.722 14.972-3.156 120.356 53.893 200.09 171.149 239.203 175.882 58.67 346.695-130.398 423.777-239.203 51.388-72.536 17.96-92.03-100.284-58.48z" fill="url(#hero-shape-d)"/>
													</g>
													<g class="is-moving-object is-translating" data-translating-factor="100">
														<path d="M448.206 223.247c-97.52-122.943-154.274-117.426-170.26 16.55C261.958 373.775 169.717 378.766 1.222 254.77c-9.255 95.477 47.794 175.211 171.148 239.203 185.032 95.989 424.986-180.108 424.986-239.203 0-39.396-49.717-49.904-149.15-31.523z" fill="url(#hero-shape-e)" transform="matrix(-1 0 0 1 597.61 0)"/>
													</g>
												</g>
											</g>
										</svg>
									</div>
									<img class="device-mockup" src="dist/images/iphone-mockup.png" alt="App preview">
									<div class="hero-app-dots hero-app-dots-1">
										<svg width="124" height="75" xmlns="http://www.w3.org/2000/svg">
											<g fill="none" fill-rule="evenodd">
												<path fill="#FFF" d="M33.392 0l3.624 1.667.984 3.53-1.158 3.36L33.392 10l-3.249-1.639L28 5.196l1.62-3.674z"/>
												<path fill="#7487A3" d="M74.696 3l1.812.833L77 5.598l-.579 1.68L74.696 8l-1.624-.82L72 5.599l.81-1.837z"/>
												<path fill="#556B8B" d="M40.696 70l1.812.833.492 1.765-.579 1.68-1.725.722-1.624-.82L38 72.599l.81-1.837z"/>
												<path fill="#7487A3" d="M4.314 37l2.899 1.334L8 41.157l-.926 2.688L4.314 45l-2.6-1.31L0 41.156l1.295-2.94zM49.314 32l2.899 1.334.787 2.823-.926 2.688L49.314 40l-2.6-1.31L45 36.156l1.295-2.94z"/>
												<path fill="#556B8B" d="M99.696 56l1.812.833.492 1.765-.579 1.68-1.725.722-1.624-.82L97 58.599l.81-1.837zM112.696 37l1.812.833.492 1.765-.579 1.68-1.725.722-1.624-.82L110 39.599l.81-1.837zM82.696 37l1.812.833.492 1.765-.579 1.68-1.725.722-1.624-.82L80 39.599l.81-1.837zM122.618 57l1.087.5.295 1.059-.347 1.008-1.035.433-.975-.492-.643-.95.486-1.101z"/>
											</g>
										</svg>
									</div>
									<div class="hero-app-dots hero-app-dots-2">
										<svg width="124" height="75" xmlns="http://www.w3.org/2000/svg">
											<g fill="none" fill-rule="evenodd">
												<path fill="#556B8B" d="M33.392 0l3.624 1.667.984 3.53-1.158 3.36L33.392 10l-3.249-1.639L28 5.196l1.62-3.674zM74.696 3l1.812.833L77 5.598l-.579 1.68L74.696 8l-1.624-.82L72 5.599l.81-1.837zM40.696 70l1.812.833.492 1.765-.579 1.68-1.725.722-1.624-.82L38 72.599l.81-1.837zM4.314 37l2.899 1.334L8 41.157l-.926 2.688L4.314 45l-2.6-1.31L0 41.156l1.295-2.94zM49.314 32l2.899 1.334.787 2.823-.926 2.688L49.314 40l-2.6-1.31L45 36.156l1.295-2.94z"/>
												<path fill="#FFF" d="M99.696 56l1.812.833.492 1.765-.579 1.68-1.725.722-1.624-.82L97 58.599l.81-1.837z"/>
												<path fill="#556B8B" d="M112.696 37l1.812.833.492 1.765-.579 1.68-1.725.722-1.624-.82L110 39.599l.81-1.837z"/>
												<path fill="#FFF" d="M82.696 37l1.812.833.492 1.765-.579 1.68-1.725.722-1.624-.82L80 39.599l.81-1.837z"/>
												<path fill="#556B8B" d="M122.618 57l1.087.5.295 1.059-.347 1.008-1.035.433-.975-.492-.643-.95.486-1.101z"/>
											</g>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="features section relative" >
						<div class="container lg:relative">
							<div class="features-inner section-inner has-bottom-divider">
								
								<section class="text-gray-600 body-font" >
									<h2 class="section-title mt-0 text-4l lg:text-3xl text-center">Recent Events</h2>
										<div class="flex flex-wrap -m-4">
											<% for(var i = 0; i < events.length; i++) {%>
												<div class="owl-carousel owl-theme p-4 md:w-1/3">
													<div
														class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
														<img class="lg:h-48 md:h-36 w-full object-cover object-center"
															src="https://dummyimage.com/720x400" alt="blog">
														<div class="p-6">
															<h1
																class="font-medium title-font text-lg text-White-900 mb-3">
																<%= events[i].event_name %>
															</h1>
															<h2
																class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">
																<%= events[i].event_date %>
															</h2>

															<p class="leading-relaxed mb-3">
																<%= events[i].location %>
															</p>
															<div class="flex items-center flex-wrap ">
																<a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="/event/<%= events[i].id %>">Learn
																	More
																	<svg class="w-4 h-4 ml-2" viewBox="0 0 24 24"
																		stroke="currentColor" stroke-width="2"
																		fill="none" stroke-linecap="round"
																		stroke-linejoin="round" >
																		<path d="M5 12h14"></path>
																		<path d="M12 5l7 7-7 7"></path>
																	</svg> 
																</a>
																<span
																	class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
																	<svg xmlns="http://www.w3.org/2000/svg"
																		class="flex-shrink-0 h-6 w-6" fill="none"
																		viewBox="0 0 24 24" stroke="currentColor">
																		<path
																			d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z" />
																		<path fill-rule="evenodd"
																			d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
																			clip-rule="evenodd" />
																	</svg>
																	<%= events[i].ticket_price %>
																</span>
																<span
																	class="text-gray-400 inline-flex items-center leading-none text-sm">
																	<svg class="flex-shrink-0 h-5 w-5"
																		stroke="currentColor" stroke-width="2"
																		fill="none" stroke-linecap="round"
																		stroke-linejoin="round" viewBox="0 0 24 24">
																		<path
																			d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z">
																		</path>
																		<circle cx="12" cy="12" r="3"></circle>
																	</svg>  
																	<div>
																		6
																	</div>
																	
																</span>
															</div>



														</div>
													</div>
												</div>
												<% } %>


										</div>
									<!-- </div> -->
								</section>
							</div>
						</div>
					</section>

					<section class="media section" id="about">
						<div class="container-sm">
							<div class="media-inner section-inner">
								<div class="media-header text-center">
									<h2 class="section-title mt-0">About Ticket Booth</h2>
									<p class="section-paragraph mb-0">Ticket Booth your number one digital online ticket platform 
										allowing Events Hosts to sell their events tickets securely, 
										easily, and accessible.</p>
								</div>
								
								  <svg style="display: none">
									<defs>
									  <symbol id="pause" viewBox="0 0 24 24">
										<path d="M14.016 5.016h3.984v13.969h-3.984v-13.969zM6 18.984v-13.969h3.984v13.969h-3.984z"></path>
									  </symbol>
								
									  <symbol id="play-icon" viewBox="0 0 24 24">
										<path d="M8.016 5.016l10.969 6.984-10.969 6.984v-13.969z"></path>
									  </symbol>
								
									  <symbol id="volume-high" viewBox="0 0 24 24">
									  <path d="M14.016 3.234q3.047 0.656 5.016 3.117t1.969 5.648-1.969 5.648-5.016 3.117v-2.063q2.203-0.656 3.586-2.484t1.383-4.219-1.383-4.219-3.586-2.484v-2.063zM16.5 12q0 2.813-2.484 4.031v-8.063q1.031 0.516 1.758 1.688t0.727 2.344zM3 9h3.984l5.016-5.016v16.031l-5.016-5.016h-3.984v-6z"></path>
									  </symbol>
								
									  <symbol id="volume-low" viewBox="0 0 24 24">
									  <path d="M5.016 9h3.984l5.016-5.016v16.031l-5.016-5.016h-3.984v-6zM18.516 12q0 2.766-2.531 4.031v-8.063q1.031 0.516 1.781 1.711t0.75 2.32z"></path>
									  </symbol>
								
									  <symbol id="volume-mute" viewBox="0 0 24 24">
									  <path d="M12 3.984v4.219l-2.109-2.109zM4.266 3l16.734 16.734-1.266 1.266-2.063-2.063q-1.547 1.313-3.656 1.828v-2.063q1.172-0.328 2.25-1.172l-4.266-4.266v6.75l-5.016-5.016h-3.984v-6h4.734l-4.734-4.734zM18.984 12q0-2.391-1.383-4.219t-3.586-2.484v-2.063q3.047 0.656 5.016 3.117t1.969 5.648q0 2.203-1.031 4.172l-1.5-1.547q0.516-1.266 0.516-2.625zM16.5 12q0 0.422-0.047 0.609l-2.438-2.438v-2.203q1.031 0.516 1.758 1.688t0.727 2.344z"></path>
									  </symbol>
								
									  <symbol id="fullscreen" viewBox="0 0 24 24">
									  <path d="M14.016 5.016h4.969v4.969h-1.969v-3h-3v-1.969zM17.016 17.016v-3h1.969v4.969h-4.969v-1.969h3zM5.016 9.984v-4.969h4.969v1.969h-3v3h-1.969zM6.984 14.016v3h3v1.969h-4.969v-4.969h1.969z"></path>
									  </symbol>
								
									  <symbol id="fullscreen-exit" viewBox="0 0 24 24">
									  <path d="M15.984 8.016h3v1.969h-4.969v-4.969h1.969v3zM14.016 18.984v-4.969h4.969v1.969h-3v3h-1.969zM8.016 8.016v-3h1.969v4.969h-4.969v-1.969h3zM5.016 15.984v-1.969h4.969v4.969h-1.969v-3h-3z"></path>
									  </symbol>
								
									  <symbol id="pip" viewBox="0 0 24 24">
									  <path d="M21 19.031v-14.063h-18v14.063h18zM23.016 18.984q0 0.797-0.609 1.406t-1.406 0.609h-18q-0.797 0-1.406-0.609t-0.609-1.406v-14.016q0-0.797 0.609-1.383t1.406-0.586h18q0.797 0 1.406 0.586t0.609 1.383v14.016zM18.984 11.016v6h-7.969v-6h7.969z"></path>
									  </symbol>
									</defs>
								  </svg>
							</div>
						</div>
					</section>

					<section class="newsletter section">
						<!-- <div class="container-sm">
							<div class="newsletter-inner section-inner">
								<div class="newsletter-header text-center">
									<h2 class="section-title mt-0">Stay in the know</h2>
									<p class="section-paragraph"></p>
								</div>
								<div class="footer-form newsletter-form field field-grouped">
									<div class="control control-expanded">
										<input class="input" type="email" name="email"
											placeholder="Your best email&hellip;">
									</div>
									<div class="control">
										<a class="button button-primary button-block button-shadow" href="#">Early
											access</a>
									</div>
								</div>
							</div>
						</div> -->
					</section>
				</main>
			</div>

				<%- include('../template/footer') -%>
				
				<!-- <script>
					let events = "<%= events %>";
					console.log("This is event's data", events);

					var current_page = 1;
					var obj_per_page = 3;
					function totNumPages()
					{
						return Math.ceil(events.length / obj_per_page);
					}

					function prevPage()
					{
						if (current_page > 1) {
							current_page--;
							change(current_page);
						}
					}
					function nextPage()
					{
						if (current_page < totNumPages()) {
							current_page++;
							change(current_page);
						}
					}
					function change(page)
					{
						var btn_next = document.getElementById("btn_next");
						var btn_prev = document.getElementById("btn_prev");
						var listing_table = document.getElementById("TableList");
						var page_span = document.getElementById("page");
						if (page < 1) page = 1;
						if (page > totNumPages()) page = totNumPages();
						listing_table.innerHTML = "";
						for (var i = (page-1) * obj_per_page; i < (page * obj_per_page); i++) {
							listing_table.innerHTML += obj[i].number + "<br>";
						}
						page_span.innerHTML = page;
						if (page == 1) {
							btn_prev.style.visibility = "hidden";
						} else {
							btn_prev.style.visibility = "visible";
						}
						if (page == totNumPages()) {
							btn_next.style.visibility = "hidden";
						} else {
							btn_next.style.visibility = "visible";
						}
					}
					window.onload = function() {
						change(1);
					};
				</script> -->
				